/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== DEFAULT THEME (BLUE) ===== */
body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
    transition: 0.4s;
}

/* ===== ALT THEME (GREEN) ===== */
body.alt {
    background-color: #022c22;
    color: #ecfdf5;
}

/* Sidebar */
.sidebar {
    position: fixed;
    width: 220px;
    height: 100vh;
    background-color: #020617;
    padding: 20px;
    transition: 0.4s;
}

/* Sidebar theme change */
body.alt .sidebar {
    background-color: #064e3b;
}

/* Brand */
.brand {
    text-align: center;
    margin-bottom: 30px;
    color: #38bdf8;
}

body.alt .brand {
    color: #34d399;
}

/* Links */
.nav-link {
    display: block;
    color: #94a3b8;
    text-decoration: none;
    padding: 12px;
    margin-bottom: 10px;
    border-left: 3px solid transparent;
    transition: 0.3s;
}

/* Hover */
.nav-link:hover {
    color: #38bdf8;
    border-left: 3px solid #38bdf8;
}

body.alt .nav-link:hover {
    color: #34d399;
    border-left: 3px solid #34d399;
}

/* Active */
.nav-link.active {
    color: #38bdf8;
    border-left: 3px solid #38bdf8;
}

body.alt .nav-link.active {
    color: #34d399;
    border-left: 3px solid #34d399;
}

/* Theme Button */
#themeBtn {
    margin-top: auto;
    padding: 10px;
    border: none;
    background-color: #38bdf8;
    cursor: pointer;
    border-radius: 6px;
}

body.alt #themeBtn {
    background-color: #34d399;
}

/* Main content */
.main {
    margin-left: 240px;
    padding: 40px;
}

/* Sections */
.section {
    margin-bottom: 60px;
}

.home span {
    color: #38bdf8;
}

body.alt .home span {
    color: #34d399;
}

/* Cards */
.cards {
    display: flex;
    gap: 20px;
}

.card {
    background-color: #020617;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(56,189,248,0.3);
    transition: 0.4s;
}

body.alt .card {
    background-color: #064e3b;
    box-shadow: 0 0 15px rgba(52,211,153,0.4);
}